*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
 
    

}

.navbar .nav-link {
    color: #989595; /* or color: white; */
  }

.container{
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.header{
    text-align: center;
}
.section input{
    width: 900px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 15px;

}
.section h2{
    font-size: 20px;
}
.section .des{
    height: 80px;
}
.imp {
  text-align: left;
  margin-right: 50em;
}
.submit{
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
}